body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* for showcase */
.showcase::after {
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url(https://image.ibb.co/gzOBup/showcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

/* when we hover over show case */
.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

/* how the content will display when we hover over showcase */
.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
/* 
content */
.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

/* content logo */
.content .logo {
  height: 180px;
  width: 180px;
}

/* content title */
.content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

/* content text */
.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

/* my image */
.author__image {
  max-width: 8rem;
  margin-right: 2rem;
  margin-left: 0;
  border-radius: 50%;
}

/* date and time  */
.author__datetime {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #3983fa;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

/* position of date and time and image  */
.author__position {
  color: #838fa0;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .06rem;
  padding: 0;
  margin: 0;

}

/* my name  */
.author__name {
  color: #233143;
  padding: 0;
  margin: 0;
  letter-spacing: .06rem;
  font-weight: 500;
}

/* space between my image and other stuff  */
.author__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* container  */
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

/* column styles */
.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

/* background styles  */
.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

/* footer  */
footer {
  padding: 2.2rem;
}

footer p {
  margin: 0;
}

/* Small Screens */
@media (max-width: 560px) {
  .showcase::after {
    height: 50vh;
  }

  .content {
    top: 5%;
    margin-top: 5px;
  }

  .content .logo {
    height: 140px;
    width: 140px;
  }

  .content .text {
    display: none;
  }

  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .services div {
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
  }
}

/* Landscape */
@media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
  }
}
